@import "variables";

body {
	background: $color-bg;
	color: $color-text;
	.well {
		background:#222222;
		border-radius:0;
		border:0;
		text-align:center;
		h1 {
			color:#FFFFFF;
		}
	}
	.name {
		color:#000000;
		text-transform: uppercase;
	}
}
