body {
  background: #FFFFFF;
  color: #333333; }
  body .well {
    background: #222222;
    border-radius: 0;
    border: 0;
    text-align: center; }
    body .well h1 {
      color: #FFFFFF; }
  body .name {
    color: #000000;
    text-transform: uppercase; }
