body {
  background: #FFFFFF;
  color: #333333; }
  body .well {
    background: #222222;
    border-radius: 0;
    border: 0;
    text-align: center; }
    body .well h1 {
      color: #ffffff; }
  body .name {
    color: #000000;
    text-transform: uppercase; }
  body .startButton {
    background: #00ed07;
    color: #000000;
    font-weight: 900;
    width: 14rem;
    height: 5rem;
    letter-spacing: 0.2rem;
    border: 0;
    border-radius: 0;
    transition: 0.4s;
    margin-bottom: 4rem; }
    body .startButton:hover {
      background: #cc3022; }
  body .nextButton {
    background: #2598fc;
    color: #000000;
    font-weight: 900;
    width: 14rem;
    height: 5rem;
    letter-spacing: 0.2rem;
    border: 0;
    border-radius: 0;
    transition: 0.4s;
    margin-bottom: 4rem; }
    body .nextButton:hover {
      background: #dffc25; }
  body .lettersButtons {
    color: #ffffff;
    background: #a5a5a5;
    margin: 0 0.5rem;
    width: 4rem;
    height: 4.8rem;
    font-size: 2rem;
    font-weight: 700;
    transition: 0.2s; }
    body .lettersButtons:hover {
      border: 0.2rem solid #333333; }
  body .displayPassword h2 {
    font-size: 5rem; }
  body .alertSuccess {
    background: #38c910;
    width: 60rem;
    height: 3rem;
    border: 0.1rem solid #a5a5a5;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    margin-left: 20rem; }
  body .alertDefeat {
    background: #d10000;
    width: 60rem;
    height: 3rem;
    border: 0.1rem solid #a5a5a5;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    margin-left: 20rem; }
