@import "variables";

body {
	background: $color-bg;
	color: $color-text;
	.well {
		background:white;
		border-radius:0;
		text-align:center;
		padding:0;
	}
	.name {
		color:#000000;
		text-transform: uppercase;
	}
}
